@media (max-width:750px){
  #icones span{display:none;}
}
@media (min-width:576px){
  .container{max-width:540px;}
  #titulo{display:block;}
  .bars{display:none;}
  #navbar{max-height:20rem;display:flex;}
  #navbar #titulo:hover{background-color:#2A4749;}
  #titulo a{cursor:context-menu;}
  #navbar li{border:none;padding:1rem;min-width:5rem;max-width:5rem;}
  #navbar a{padding:1rem;}
}
@media (min-width:768px){
  .container{max-width:720px;}
  #footer{flex-wrap:nowrap;}
  #icones{flex-direction:column;margin-left:10rem;}
}
@media (min-width:992px){
  .container{max-width:960px;}
  .flex-container{flex-wrap:nowrap;}
  .flex-item{max-width:32.5%;}
  .footer{flex-wrap:nowrap;}
  #icones{flex-direction:column;margin-left:10rem;}
}
@media (min-width:1200px){
  .container{max-width:1140px;}
  #videos iframe{}
  .flex-container{flex-wrap:nowrap;}
  .flex-item{max-width:32.5%;}
}